h2 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    padding-left: 20px;
}

#weatherForm {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    padding: 20px;
}

#inputBox {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

#submitButton {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
    background-color: green;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}
